.AddArticleButton {
    box-shadow: 3px 3px #547393;
}

.Header {
    box-shadow: 3px 3px #ccc;
    border-radius: 5px;
    padding: 12px 0px 0px 12px;
}

.ShowArticlesButton {
    box-shadow: 3px 3px #547393;
}
.top-card{
   padding-top: 30px;
   font-weight: 700;
   font-size: 21px;
}
.top-card-text{
    color: #a70b7f;
    height: 300px;
    vertical-align: middle;
}